.input-block,
.output-block {
    box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

p {
    margin-bottom: 0;
}

td {
    padding: 5px;
}

table {
    box-shadow: unset !important;
}

.table>:not(caption)>*>* {
    padding: 5px !important;
}

@media (max-width: 1600px) {
    .block-grid {
        display: block;
    }
    .block-col {
        min-width: 80%;
        display: block;
        margin: auto;
    }
    .hide-it {
        display: none !important;
    }
    .hide-text {
        overflow: hidden;
        width: 9rem;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.inputgroup-background {
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-dark-border-subtle);
}